.cart-container {
    width: calc(100vw - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 12px;
}
.cart-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin-top: 16px;
}
.cart-item {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 12px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-name {
    margin: 0 !important;
}

.cart-item-price {
    margin: 0;
    color: gray;
}

.cart-item-quantity {
    margin: 0;
}

.cart-page-total {
    margin-top: 20px;
}

.cart-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.arrow-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавное изменение фона */
}

.cart-page-title {
    margin: 0;
}

/* Контейнер для кнопок */
.cart-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Отступ сверху, чтобы кнопки были ниже заголовка */
}

/* Общие стили для кнопок */
.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.toggle-button.active {
    background-color: #cccccc !important;
    border-color: #d9d9d9 !important;
    color: white !important;
}

.toggle-button:focus,
.toggle-button:active {
    outline: none;
    box-shadow: none;
    background-color: #f0f0f0;
}

.toggle-button:not(.active) {
    background-color: #f6f6f6;
    color: #333;
}
.left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 60px;
}

.right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 60px;
}

.delivery-info {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.delivery-component,
.pickup-component {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.delivery-info .delivery-component.hidden,
.delivery-info .pickup-component.hidden {
    opacity: 0;
    display: none;
}


.cart-total-amount {
    position: sticky;
    bottom: 20px;
    width: 85%;
    padding: 20px;
    color: white;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 16px ;
}

.cart-promo {
    width: 85%;
    padding: 20px;
    color: white;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 16px 16px 0 16px;
}


.cart-promo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 16px 30px;
}

.cart-promo input {
    background-color: #f6f6f6;
    border: none;
    padding: 0;
    border-radius: 5px;
    width: 200px;
}

.cart-promo input:focus {
    outline: none;
}

.promo-button {
    padding: 10px;
    border-radius: 50px;
    background-color: #cccccc;
}

.cart-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery-input {
    width: calc(100% - 12px);
    height: 40px;
    background-color: #f6f6f6;
    border: none;
    padding: 12px;
    border-radius: 20px;
}

.delivery-input:focus {
    outline: none;
}

.delivery-component,
.pickup-component {
    width: calc(100% - 12px);
    margin-top: 12px;
}

.delivery-text {
    margin: 6px 0 6px 6px;
}
