html, body {
    background-color: #fff;
    margin: 0;
    width: 100%;
    font-family: 'Golos', sans-serif;
    /*overflow-x: hidden;*/
}
@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Bold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
