.homepage-container {
    padding:6px 6px 20px 6px;
}

.carousel-container {
    padding-bottom: 10px;
}

.category-button {
    margin-left: 6px;
}

.cart-button {
    position: fixed;
    display: flex;
    min-width: 100px;
    border-radius: 50px;
    background-color: crimson;
    justify-content: left;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.category-container {
    width: 100vw;
    height: 46px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    will-change: transform;
}


.category-container::-webkit-scrollbar {
    display: none;
}

.category-button {
    margin-right: 10px;
    white-space: nowrap;
    border-radius: 16px;
}


.category-item-name {
    margin-left: 10px;
}

.cart-icon {
    color: white;
    font-size: 24px;
    margin-right: 12px;
}

.cart-amount {
    color: white;
}

.cart-total {
    color: white;
}

.category-button:focus,
.category-button:active {
    background-color: #d62729 !important;
    color: white !important;
    border-color: #d62729 !important;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .slick-track {
    display: flex;
    justify-content: center;
}

.carousel-image {
    width: calc(100vw - 12px) ;
    transition: transform 0.3s ease;
    object-fit: cover;
    border-radius: 10px;
}

/* Настроим соседние слайды, чтобы они были видны */
.slick-slide {
    display: flex !important;
    justify-content: center;
    transition: transform 0.3s ease;
}

/* Стили для соседних слайдов, которые будут чуть меньше */
.slick-center .carousel-image {
    transform: scale(1.1); /* Увеличиваем центральный слайд */
}

/* Для соседних слайдов */
.slick-prev, .slick-next {
    z-index: 1;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.5); /* Цвет кнопок навигации */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Стиль для стрелок при наведении */
.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.homepage-centar-container {
 position: relative;
}
