.recommended-container {
    width: 100%;
    padding: 0 6px 74px 6px;
}

.recommended-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.recommended-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.recommended-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    background-color: #f6f6f6;
    padding: 12px 20px 12px 12px;

}

.recommended-item:focus {
    border:1px solid green;
}

.recommended-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 8px;
}

.recommended-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.recommended-name {
    font-size: 18px;
    margin: 0;
}
.recommended-description {
    font-size: 14px;
    margin: 6px 0 0 0;
    opacity: 0.6;
}

.recommended-price {
    /*color: #6b7280;*/
}

.recommended-name-container {

}
